.search-container {
    position: relative;
    margin-bottom: 10px;
}

.search-input {
    padding: 8px 40px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.clear-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.clear-icon {
    fill: rgba(0, 0, 0, .54);
}